header {
    height: 100vh;
    overflow:hidden
}

.header_container {
    text-align: center;
    height: 100%;
    position: relative;
}

.profilePicture{
    background: linear-gradient(var(--color-primary), transparent);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding:5rem 1.5rem 5rem 1.5rem;
}
.socials{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: row;
    gap: 1.2rem;
    justify-content: center;
    position: relative;
    left: 0;
    bottom: 1rem;
}

.react-icons {
    vertical-align: middle;
  }

  /* Media queries for medium devices(Tablets) */

@media screen and (max-width: 1024px) {

    header{

        height: 60vh;
    }

}

/* Media queries for small devices(Mobiles) */

@media screen and (max-width: 600px) {

    header{

        height: 100vh;
    }

    .socials, .scroll_down{

        display: none;
    }

    .profilePicture > img{

        margin-top: 2.5rem;
    }
}